.footer {
    text-align: center;
    padding: 20px;
    background-color: #599ec0;
    color: white;
    position: relative;
    bottom: 0;
    width: 97.4%;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-btn {
    background-color: #fff;
    color: #36c1cb;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.footer-btn:hover {
    background-color: #f1f1f1;
    color: #0056b3;
}

.button {
    background-color: #36c1cb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}