<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Fish Pond Monitoring System</a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" [ngClass]="{ 'show': isNavbarOpen }">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
                <li class="nav-item">
                    <button class="login" routerLink="/login">Login</button> <!-- Trigger modal -->
                </li>
            </ul>
        </div>
    </div>
</nav>